@import "typography";

$background-color: #1d1d1d;

$jenee_red: #EF3B39;

$jenee_purple: #734E9F;

$jenee_blue: #26A7DF;

$jenee_grey: #DDDDDD;

$jenee_black: #010001;

$jenee_white: #FFF;

$gradient_right: linear-gradient(to right, #ef3b39, #e82b58, #d82a73, #c03588, #a24297, #9050a6, #7b5cb1, #6366b7, #5377c6, #4288d1, #3198d9, #26a7df);

$gradient_bottom: linear-gradient(to bottom, #ef3b39, #e82b58, #d82a73, #c03588, #a24297, #9050a6, #7b5cb1, #6366b7, #5377c6, #4288d1, #3198d9, #26a7df);

$gradient_top: linear-gradient(to top, #ef3b39, #e82b58, #d82a73, #c03588, #a24297, #9050a6, #7b5cb1, #6366b7, #5377c6, #4288d1, #3198d9, #26a7df);
