.header-event{
    justify-content: space-between;
    box-sizing: border-box;
    height: 8vh;
    border-bottom: 1px solid hwb(209 35% 22% / 0.300);

    &__title{
        display: flex;

        h1{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5vw;
            font-weight: 800;
        }
    }

    &__menu{
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        transform: translateY(2px);
        
        &__item{
            color: #686867;
            padding: 12px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: end;
            font-size: 1vw;
            
            &:hover{
                cursor: pointer;
            }

            &--select{
                color: #5992C6;
                padding: 12px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: end;
                border-bottom: 3px solid #5992C6;
                font-size: 1vw;
            }
        }
    }

    &__search-create{
        margin: auto;
        display: flex;
        justify-content: space-around;

        button{
            width: 60%;
            box-sizing: border-box;
            font-size: 1vw;
        }

        input{
            width: 60%;
            margin-right: 10px;
        }

    }


    
}









