.modal {
	position: relative;
	width: auto;
	&__stepper {
		margin-bottom: 16px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		&__items {
			width: 100%;
			&:not(style) + :not(style) {
				margin-left: 8%;
			}
		}
	}
	&__container {
		padding: 5px;

		h3 {
			color: #4f5eab;
			font-size: 25px;
			font-weight: normal;
			margin-bottom: 16px;
		}
		h4 {
			color: rgba(79, 94, 171, 1);
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 0.01em;
			margin: 0;
			padding-top: 16px;
			padding-bottom: 8px;
		}
		p {
			font-size: 15px;
			color: rgba(167, 168, 171, 1);
			margin: 0 0 8px 0;
		}
	}

	&__second-step {
		/*    display: flex;*/

		h1 {
			color: #4f5eab;
			font-size: 25px;
			font-weight: normal;
		}

		h3 {
			color: #4f5eab;
			font-size: 18px;
			font-weight: normal;
			text-align: center;
		}

		&__wrap {
			justify-content: space-between;
		}
	}

	&__button {
		width: 100%;
		margin-top: 24px;
	}

	&__icon {
		position: absolute;
		top: 20px;
		right: 20px;

		&:hover {
			cursor: pointer;
		}
	}

	&__form-input {
		position: relative;
		display: flex;
		z-index: 1;
		&__input-file {
			visibility: hidden;
		}
		&--file {
			overflow: hidden;
			display: flex;
			border-radius: 10px;
			height: 250px;
			width: 100%;
			outline: none;
			border: 1px solid #d6d6d6;
			margin-bottom: 16px;
			color: #4f5eab;
			position: relative;
			background-color: #f4f6fa;
			flex-direction: column;
			justify-content: center;
			&:hover {
				cursor: pointer;
				border: 1px solid #5f6db3;

				svg {
					color: #5f6db3;
				}

				p {
					color: #5f6db3;
				}
			}

			&__icon {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				svg {
					height: 60%;
					color: #d6d6d6;
				}
				p {
					color: #d6d6d6;
					margin-top: 16px;
				}
			}

			&__preview-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0px;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				opacity: 1;

				&:hover {
					opacity: 0.3;
				}
			}

			&--error {
				background-color: #fef2f2;

				svg {
					color: #da7373;
				}

				p {
					color: #da7373;
				}
			}
		}

		p {
			font-size: 0.7vw;
			color: #da7373;
			position: absolute;
			top: 5px;
			right: 5px;
			margin: 0;
			z-index: -1;
		}
	}

	.MuiMobileStepper-progress {
		width: 100%;
		padding: 0px;
		flex-grow: 1;
		position: relative;
		border-right: 1px solid white;
		background-color: #efefef;
	}

	.MuiLinearProgress-bar {
		border-right: 5px solid white;
	}

	&__stepper-blank {
		background-color: red;
		height: 1px;
		width: 1px;
		top: 0px;
		right: 50%;
		z-index: 1;
	}
	&__new-ticketing-category {
		width: auto;
		max-width: 325px;
		max-height: 267px;
		height: 267px;
		background: rgba(228, 240, 250, 1);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		cursor: pointer;
		& > svg {
			font-size: 4em;
			color: rgba(94, 109, 178, 1);
			margin-bottom: 16px;
		}
		& > p {
			color: rgba(94, 109, 178, 1);
		}
	}
	&__new-ticketing-category:hover {
		border: 1px solid transparent;
		border-radius: 10px;
		background: linear-gradient(to right, white, white),
			linear-gradient(270deg, #d34d48 0%, #5595cb 100%);
		background-clip: padding-box, border-box;
		background-origin: padding-box, border-box;
	}
	&__button-skip-step {
		margin: 40px 0 40px 0;
		display: flex;
		& > button {
			max-width: 442px;
			background: rgba(228, 240, 250, 1);
		}
	}
}
