.select__primary{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid #b7b5b5;
    padding-left: 10px;
    box-sizing: border-box;
    margin: auto;
    color: #4F5EAB;
    background-color: transparent;
}