.card__form-submit {
	/*width: 418px;*/
	width: auto;
	height: 50px;
	border: none;
	background: linear-gradient(0.25turn, #d44e49, #0096d3);
	padding: 20px;
	border-radius: 10px;
	color: white;
	margin-top: 2%;
	cursor: pointer;
	font-size: 100%;
	padding-top: 15px;
	font-weight: 100;
	&:hover {
		background: rgb(69, 79, 91);
	}
}
