.header {
	display: flex;
	align-items: center;
	height: 150px;
	& > a {
		margin-top: 28px;
	}
}

/*
.logo {
	display: flex;
	margin-left: 5%;
	position: absolute;
	text-align: center;
	top: 0%;
	left: -3%;
}

.logo h1 {
	width: 200px;
	margin-top: 18%;
	font-size: 1.2rem;
	color: $blue;
}
*/
