.posts__details__card {
	width: 100%;
	max-width: 369px;
	min-height: 400px;
	border-radius: 7px !important;
	overflow: hidden;
	position: relative;
	margin-left: 25px;
	transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: none !important;
	&:hover {
	}
	&__image {
		&--edit {
			border-bottom-right-radius: 7px;
			border-bottom-left-radius: 7px;
		}
	}
	& > img {
		width: 100%;
		max-width: 369px;
		height: 100%;
		max-height: 307px;
	}
	&__content {
		background: #ffff;
		position: absolute;
		width: 100%;
		max-width: 368px;
		height: 100%;
		max-height: 78px;
		padding-bottom: 15px;
		border: solid 1px #1b6d85;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		bottom: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&__title {
			margin-left: 20px;
		}
		&__name {
			color: #212b36;
			padding-left: 25px;
		}
		&__icon {
			font-size: 0.9rem !important;
			padding-left: 25px;
			margin-right: 5px;
		}
		&__status {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-right: 25px;
			&__caption {
				margin-bottom: 0 !important;
				color: #7d7d7c;
			}
		}
	}
	&--edit {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--visual {
			margin: 30px auto;
			width: auto;
			border: none;
			border-radius: 13px;
			padding: 10px 30px;
			cursor: pointer;
		}
		&--informations {
			width: 100%;
			border: none;
			border-radius: 13px;
			background-color: $light-blue;
			margin-top: 20px;
			margin-bottom: 20px;
			color: $blue;
			padding-top: 20px;
			padding-bottom: 20px;
			cursor: pointer;
			&:hover {
				background-color: rgba(228, 240, 250, 0.75);
			}
		}
	}
}
