.profile__header {
	background-color: rgba(236, 236, 236, 0.89);
	margin-top: 40px;
	margin-bottom: 30px;
	border-radius: 35px;
	height: 330px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	&__icon {
		max-width: 230px;
		height: 230px;
		margin-left: 20px;
		margin-right: 20px;
		& > img {
			width: 100%;
			height: 100%;
		}
	}
	&__statistics {
		height: 100%;
		margin-left: 30px;
		width: 420px;
		&--interactions {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			height: 50%;
			border-right: 1px solid $jenee_white;
			border-bottom: 1px solid $jenee_white;
			padding: 20px 40px 0 0;
			&__icon {
				padding: 7px;
				color: $blue;
				background-color: #ced5f4;
				border-radius: 10px;
			}
		}
		&--siret {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: flex-start;
			width: 100%;
			height: 50%;
			border-right: 1px solid $jenee_white;
			border-top: 1px solid $jenee_white;
			padding: 20px 40px 0 0;
			&__icon {
				padding: 7px;
				background-color: #f5dadd;
				border-radius: 10px;
			}
		}
		&__title {
			color: #686867;
		}
		&__number {
			font-size: 1.6rem;
			margin-top: 20px;
		}
	}
	&__description {
		height: 100%;
		width: 650px;
		border-left: 1px solid $jenee_white;
		&__text {
			padding: 20px 40px 10px 40px;
			height: 50%;
			border-bottom: 1px solid $jenee_white;
			font-size: 0.9rem;
			line-height: 1.2rem;
			color: #686867;
			width: 100%;
		}
		&__details {
			padding: 20px 0px 10px 40px;
			height: 50%;
			border-top: 1px solid $jenee_white;
			width: 100%;
			color: #686867;
			&--progressBar {
				display: flex;
				width: 100%;
				justify-content: space-between;
				& > div {
					width: 100%;
				}
			}
			&__statistics {
				display: flex;
				justify-content: space-between;
				margin-right: 30px;
				&--passed {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}
