$red: #d44e49;
$blue: #4f5eab;
$grey: #716f6f;
$light-grey: #fbfbfb;

$light-blue: #e4f0fa;
$background-color: #1d1d1d;

$jenee_red: #ef3b39;

$jenee-pink: #e82b58;

$jenee_purple: #734e9f;

$jenee_blue: #26a7df;

$jenee_grey: #dddddd;

$jenee_black: #010001;

$jenee_white: #fff;

$gradient_right: linear-gradient(
	to right,
	#ef3b39,
	#e82b58,
	#d82a73,
	#c03588,
	#a24297,
	#9050a6,
	#7b5cb1,
	#6366b7,
	#5377c6,
	#4288d1,
	#3198d9,
	#26a7df
);

$gradient_bottom: linear-gradient(
	to bottom,
	#ef3b39,
	#e82b58,
	#d82a73,
	#c03588,
	#a24297,
	#9050a6,
	#7b5cb1,
	#6366b7,
	#5377c6,
	#4288d1,
	#3198d9,
	#26a7df
);

$gradient_top: linear-gradient(
	to top,
	#ef3b39,
	#e82b58,
	#d82a73,
	#c03588,
	#a24297,
	#9050a6,
	#7b5cb1,
	#6366b7,
	#5377c6,
	#4288d1,
	#3198d9,
	#26a7df
);

$description-grey: #686867;
